@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.Page {
  background-color: #f2ddcc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: cal(10px + 2vmin);
  color: black;
  text-align: center;
}

.Star-logo {
  height: 5vmin;
  pointer-events: none;
  vertical-align: middle;
}

.Page-header {
  width: 80%;
  border-radius: 10px;
  border: solid 1.5px #f6f7fa;
  margin: 20px;
  padding-bottom: 20px;
  background-color: white;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
}
.step_bigbox{
  text-align: center;
}
.step_box{
  background-color: #c4c4c4;
  display: inline-block;
  padding: 5px;
  width: 70%;
}
.step{
  display: inline-block;
  margin-left:80px;
  
}
.photo_box{
    clear: both;
}
.photo_box img{
    width: 15vmin;
    height: 15vmin;
    margin: 25px;
}
.button_box{
    clear: both;
}
.StartButton {
    background-color: #c4c4c4;
    text-align: center;
    color: black;
    border-radius: 15px;
    width: 300px;
    height: 120px;
    font-size: 45px;
    font-family: 'Jua', sans-serif;
    margin: 3%;
}
.GalleryButton {
  text-align: center;
  background-color: #c4c4c4;
  border-radius: 10px;
  font-size: 30px;
  margin: 15px;
  vertical-align: middle;
  font-family: 'Jua', sans-serif;
}