@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.Page {
  background-color: #f2ddcc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: cal(10px + 2vmin);
  color: black;
  text-align: center;
}

.Star-logo {
  height: 5vmin;
  pointer-events: none;
  vertical-align: middle;
}

.Page-header {
  width: 80%;
  border-radius: 10px;
  border: solid 1.5px #f6f7fa;
  margin: 20px;
  padding-bottom: 20px;
  background-color: white;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
}
.result_box{
    text-align: center;
}
.result{
    display: inline-block;
}

.button_box{
    text-align: center;
    margin-top: 20px;
}
.nickname{
    width: 250px;
    display: inline-block;
    border-radius: 30px;
    font-size: 50px;
    padding:1.5%;
}
.emoticon_box{
    display: inline-block;
    margin: 2% 3% 2% 2%;
}
.emoticon{
    display: inline-block;
    font-size: 50px;
}
.galleryButton {
    background-color: #c4c4c4;
    text-align: center;
    color: black;
    padding: 1% 2% 1% 2% ;
    border-radius: 15px;
    font-size: 45px;
    font-family: 'Jua', sans-serif;
}
@media all and (max-width:1200px){
}
@media all and (max-width:960px){
}
@media all and (max-width:768px){
  .Page-header > h1{
    font-size: 35px;
  }
  .SaveButton{
    font-size: 25px;
    margin: 15px 5% 0 0 ;
  }
  .ShareButton{
    font-size: 25px;
    margin: 15px 0 0 5% ;
  }
  .RetryButton {
    font-size: 25px;
  }
}
@media all and (max-width:320px){
  .Page-header > h4{
    font-size: 15px;
  }
  .nickname{
    width: 250px;
    display: inline-block;
    border-radius: 30px;
    font-size: 50px;
    padding:1.5%;
  }/*닉네임 수정 해야함*/
  .SaveButton{
    font-size: 20px;
    margin: 15px 0 0 0 ;
  }
  .ShareButton{
    font-size: 20px;
    margin: 15px 0 0 0 ;
  }
}